<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Design Your Taco</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
  </head>

  <body>
    <div class="container">
      <h1>Design your taco!</h1>
      <img th:src="@{/images/TacoCloud.png}" />
    </div>

    <form method="POST" th:object="${taco}">
      <div
          class="invalid-feedback"
          th:if="${#fields.hasErrors('ingredients')}"
          th:errors="*{ingredients}"
        ></div>
      <div class="row">
        <div class="col">
          <h3>Designate your wrap:</h3>
          <div class="form-check" th:each="w : ${wrap}">
            <input
                class="form-check-input"
                th:field="*{ingredients}"
                th:value="${w.id}"
                type="checkbox"
              />
              <label
                class="form-check-label"
                th:text="${w.name}"
                th:for="${#ids.prev('ingredients')}"
              >
              </label>
          </div>
        </div>
        <div class="col">
          <h3>Pick your protein:</h3>
          <div class="form-check" th:each="w : ${protein}">
            <input
                class="form-check-input"
                th:field="*{ingredients}"
                th:value="${w.id}"
                type="checkbox"
              />
              <label
                class="form-check-label"
                th:text="${w.name}"
                th:for="${#ids.prev('ingredients')}"
              >
              </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3>Choose your cheese:</h3>
          <div class="form-check" th:each="w : ${cheese}">
            <input
                class="form-check-input"
                th:field="*{ingredients}"
                th:value="${w.id}"
                type="checkbox"
              />
              <label
                class="form-check-label"
                th:text="${w.name}"
                th:for="${#ids.prev('ingredients')}"
              >
              </label>
          </div>
        </div>
        <div class="col">
          <h3>Determine your veggies:</h3>
          <div class="form-check" th:each="w : ${veggies}">
            <input
                class="form-check-input"
                th:field="*{ingredients}"
                th:value="${w.id}"
                type="checkbox"
              />
              <label
                class="form-check-label"
                th:text="${w.name}"
                th:for="${#ids.prev('ingredients')}"
              >
              </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3>Select your sauce:</h3>
          <div class="form-check" th:each="w : ${sauce}">
            <input
                class="form-check-input"
                th:field="*{ingredients}"
                th:value="${w.id}"
                type="checkbox"
              />
              <label
                class="form-check-label"
                th:text="${w.name}"
                th:for="${#ids.prev('ingredients')}"
              >
              </label>
          </div>
        </div>
        <div class="col"></div>
      </div>
      <div>
        <label class="form-label" for="designName">Name your taco </label>
          <input
            th:class="|form-control ${#fields.hasErrors('designName')? 'is-invalid': 'is-valid'}|"
            type="text"
            th:field="*{designName}"
          />
          <div
            class="invalid-feedback"
            th:if="${#fields.hasErrors('designName')}"
            th:errors="*{designName}"
          ></div>
      </div>
      <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </form>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  </body>
</html>
